<h2><%= @cocktail.name %></h3>

<h4>Doses :</h4>

  <% @cocktail.doses.each do |dose| %>
    <br><p> <%= dose.ingredient.name %> - <%= dose.description %> | <%= link_to "Delete", dose_path(dose),
        method: :delete,
        data: { confirm: "Are you sure?" } %></p>
  <% end %>

<br><br>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>

